
{%extends 'templateadmin.html'%}

{%block body%}
    
 <center>
  
    <h1 class="display-4 text-center mt-1 mb-1 text-secondary">Actualizar Paciente</h1>
    
<div class="container-sm"> <!--Contrainer-->
    <div class="col-md-5"> <!--Columna 5-->
        <div class="card card-body"> <!--Card-->
            <form action="/actualizar/{{medicos.1}}" method="POST">
               
                 <div class="mb-3">
                  <h2 class="display-7 text-left mt-2 mb-2"> RFC:</h2>
                  <input type="text" class="form-control" name="rfctxt", value="{{medicos.1}}" required>
                 </div>
                 <div class="mb-3">
                    <h2 class="display-7 text-left mt-2 mb-2"> Nombre:</h2>
                    <input type="text" class="form-control" name="nomtxt", value="{{medicos.2}}" required>
                   </div>
                   <div class="mb-3">
                    <h2 class="display-7 text-left mt-2 mb-2"> Apellido Paterno:</h2>
                    <input type="text" class="form-control" name="aptxt", value="{{medicos.3}}" required>
                   </div>
                   <div class="mb-3">
                    <h2 class="display-7 text-left mt-2 mb-2"> Apellido Materno:</h2>
                    <input type="text" class="form-control" name="amtxt", value="{{medicos.4}}" required>
                   </div>
                   <div class="mb-3">
                    <h2 class="display-7 text-left mt-2 mb-2"> Cedula:</h2>
                    <input type="text" class="form-control" name="cedulatxt", value="{{medicos.5}}" required>
                   </div>
                   <div class="mb-3">
                    <h2 class="display-7 text-left mt-2 mb-2"> Correo:</h2>
                    <input type="email" class="form-control" name="correotxt", value="{{medicos.6}}" required>
                   </div>
                   <div class="mb-3">
                    <h2 class="display-7 text-left mt-2 mb-2"> Rol:</h2>
                    <input type="text" class="form-control" name="roltxt", value="{{paciente.7}}" required>
                   </div>
                   <div class="mb-3"> 
                    <h2 class="display-7 text-left mt-2 mb-2"> Contraseña: </h2>
                    <input type="text" class="form-control" name="contrasenatxt", value="{{paciente.8}}" required>
                  </div>



                 <div class="d-grid gap-2 col-6 mx-auto">
                  <button type="submit" class="btn btn-success"> Actualizar <i class="bi bi-upload"></i> </button>
                 </div>
             </form>
        </div> <!--Card-->
    </div> <!--Columna 5-->
</div> <!--Contrainer-->

 </center>

{%endblock%}