{% extends 'templateadmin.html' %}

{% block body %} 
    <center>
        <h1>ADMIN DASHBOARD</h1>
        <div class="container">
            <div class="col-md-5">
                <h2>Medicos Registrados</h2>
                <div class="table-responsive">
                    <table class="table">
                        <thead>
                            <tr>
                                <th>RFC: </th>
                                <th>Correo: </th>
                                <th>id_rol: </th>
                                <th>Contraseña: </th>
                                <th>Nombre: </th>
                                <th>Apellido: </th>
                                <th>Acciones: </th>
                            </tr>
                        </thead>
                        <tbody>
                            {% for medico in listaMedicos %}
                                <tr>
                                    <td>{{ medico.1 }}</td>
                                    <td>{{ medico.2 }}</td>
                                    <td>{{ medico.3 }}</td>
                                    <td>{{ medico.4 }}</td>
                                    <td>{{ medico.5 }}</td>
                                    <td>{{ medico.6 }}</td>
                                    <td>
                                        <a href="/editar/{{ medico.0 }}" class="btn btn-warning"><i class="bi bi-pencil-square"></i></a>
                                        <a href="/borrar/{{ medico.0 }}" class="btn btn-danger"><i class="bi bi-trash3"></i></a>
                                    </td>
                                </tr>
                            {% endfor %}
                        </tbody>
                    </table>
                </div>
            </div>
        </div>
    </center>
{% endblock %}




