{% extends 'templateadmin.html' %}

{% block body %} 
    <body>
        <style>
         
    
            h1 {
                text-align: center;
                margin-top: 20px;
            }
    
            .container {
                width: 400px;
                background-color: #ffffff;
                margin: 0 auto;
                padding: 20px;
                border-radius: 5px;
                box-shadow: 0 2px 5px rgba(0, 0, 0, 0.1);
            }
    
            label {
                display: block;
                margin-bottom: 5px;
                font-weight: bold;
            }
    
            input[type="text"],
            input[type="email"],
            input[type="password"] {
                width: 100%;
                padding: 10px;
                margin-bottom: 15px;
                border: 1px solid #ccc;
                border-radius: 3px;
            }
    
            input[type="submit"] {
                width: 100%;
                padding: 10px;
                background-color: #007bff;
                color: #ffffff;
                border: none;
                border-radius: 3px;
                cursor: pointer;
            }
    
            input[type="submit"]:hover {
                background-color: #0056b3;
            }
        </style>

        <center>
            <h1>ADMIN DASHBOARD</h1>
            <div class="container">
                {% with mensajes= get_flashed_messages() %}
                {% if mensajes %}
                    {% for msj in mensajes %}
                        <div class="alert alert-primary alert-dismissible fade show" role="alert">
                            <strong> {{ msj }} </strong> 
                            <button type="button" class="btn-close" data-bs-dismiss="alert" aria-label="Close"></button>
                          </div>
        
                          <script>Swal.fire('Buen Trabajo', 'Registro Realizado',  'success' ) </script>
                          
                    {% endfor %}
                {% endif %}
                {% endwith %}
                <div class="tabla-registro-medicos">
                    <h1>Registro de Pacientes</h1>
                    <form method="POST" action="/agregarpacientes2">
                        <label for="rfc">Nombre: </label>
                        <input type="text" name="nombre" required><br>
                
                        <label for="cedula">Fecha de Nacimiento: </label>
                        <input type="date" name="nacimiento" required><br>
                
                        <label for="correo">Enfermedades: </label>
                        <input type="text" name="enfermedades" required><br>
                
                        <label for="id_rol">Alergias: </label>
                        <input type="text" name="alergias" required><br>
                
                        <label for="password">Antecedentes: </label>
                        <input type="text" name="antecendentes" required><br>
                
                        <label for="nombre">RFC_Medico: </label>
                        <input type="text" name="medico_rfc" required><br>

                
                        <input type="submit" value="Registrar">
                    </form>
                </div>
            </div>
        </center>
    </body>
{% endblock %}

