{% extends 'templateadmin.html' %}

{% block body %} 
    
<center>
    <div class="container">
        <div class="col-md-12"> <!-- column 12 to ensure full width -->
            <h2>Medicos</h2>
            <div class="table-responsive"> <!-- Table Responsive -->
                <table class="table">
                    <thead>
                        <tr>
                            <th>RFC: </th>
                            <th>Nombre: </th>
                            <th>Apellido Paterno: </th>
                            <th>Apellido Materno:  </th>
                            <th>Cedula:  </th>
                            <th>Correo: </th>
                            <th>Rol: </th>
                            <th>Acciones:</th> <!-- Column for Edit and Delete buttons -->
                        </tr>
                    </thead>
                    <tbody>
                        {% for medicos in listMedicos %}
                            <tr>
                                <td>{{ medicos.1 }}</td>
                                <td>{{ medicos.2 }}</td>
                                <td>{{ medicos.3 }}</td>
                                <td>{{ medicos.4 }}</td>
                                <td>{{ medicos.5 }}</td>
                                <td>{{ medicos.6 }}</td>
                                <td>{{ medicos.7 }}</td>
                                <td>{{ medicos.8 }}</td>
                                <td>
                                    <a href="/editarmedicos/{{ medicos.0 }} " class="btn btn-warning"><i class="bi bi-pencil-square"></i> </a>
                                    <a href="/borrarmedicos/{{ medicos.0 }}" class="btn btn-danger"><i class="bi bi-trash3"></i> </a>
                                </td>
                            </tr>
                        {% endfor %}
                    </tbody>
                </table>
            </div> <!-- Table Responsive -->
        </div> <!-- column 12 -->
        
     </div>
</center>

{% endblock %}

