<div class="col-md-7"> <!-- colum 7 -->
    <h2>Pacientes</h2>
    <div class="table-responsive"> <!--Table Responsive-->
        <table class="table">
            <thead>
                <tr>
                    <th>Id:</th>
                    <th>RFC Médico:</th>
                    <th>Nombre Paciente:</th>
                    <th>Apellido Paterno:</th>
                    <th>Apellido Materno:</th>
                    <th>Fecha de Nacimiento:</th>
                    <th>Enfermedades:</th>
                    <th>Alergias:</th>
                    <th>Antecedentes:</th>
                </tr>
            </thead>
            <tbody>
                {% for pacientes in listpaciente %}
                    <tr>
                        <td>{{ pacientes.0 }}</td>
                        <td>{{ pacientes.1 }}</td>
                        <td>{{ pacientes.2 }}</td>
                        <td>{{ pacientes.3 }}</td>
                        <td>{{ pacientes.4 }}</td>
                        <td>{{ pacientes.5 }}</td>
                        <td>{{ pacientes.6 }}</td>
                        <td>{{ pacientes.7 }}</td>
                        <td>{{ pacientes.8 }}</td>
                        <td>
                            <a href="" class="btn btn-warning"><i class="bi bi-pencil-square"></i>Editar</a>
                            <a href="" class="btn btn-danger"><i class="bi bi-trash3"></i>Eliminar</a>
                           
                        </td>
                    </tr>
                {% endfor %}
            </tbody>
        </table>
    </div> <!--Table Responsive-->
</div> <!-- colum 7 -->