<!DOCTYPE html>
<html>
<head>

  <title>Hospital San José</title>
  
  <link rel="stylesheet" href="../static/CSS/estilos.css">
</head>
<body>
  <div class="containerD">
    <h1>Alta Pacientes</h1>

    <form action="/guardarpaciente" method="POST">
      <label1 for="nombre">Nombre:</label>
      <input type="text" name="nomtxt" placeholder="Ingresa el nombre">
      <label1 for="Apellido Paterno">Apellido Paterno:</label>
        <input type="text" name="aptxt" placeholder="Ingresa el nombre">
        <label1 for="nombre">Apellido Materno:</label>
          <input type="text" name="ammtxt" placeholder="Ingresa el nombre">
      <label1 for="F_Nacimiento">Fecha de nacimiento:</label>
      <input type="date" name="datetxt" placeholder="Ingresa nacimiento">

      <label1 for="enfermedades"></label>
      <input type="text" name="enftxt" placeholder="Ingresa enfermedades">

      <label1 for="al">Alergias:</label>
      <input type="text" name="altxt" placeholder="Ingresa las alergias">
  
      <label1 for="ant">Antecedentes:</label>
      <input type="text" name="anttxt" placeholder="Antecedentes">

      <label1 for="diag">Diagnostico:</label>
      <input type="text" name="diagtxt" placeholder="Diagnostico">

      <input type="submit" value="Generar receta">
      <input type="submit" value="Borrar diagnostico">
    </form>
  </div>
</body>
</html>