<!-- {% extends 'templateusu.html' %}

{% block body %} -->
    <body>
        <style>
            
            h1 {
                text-align: center;
                margin-top: 20px;
            }
    
            .container {
                width: 400px;
                background-color: #ffffff;
                margin: 0 auto;
                padding: 20px;
                border-radius: 5px;
                box-shadow: 0 2px 5px rgba(0, 0, 0, 0.1);
            }
    
            label {
                display: block;
                margin-bottom: 5px;
                font-weight: bold;
            }
    
            input[type="text"],
            input[type="email"],
            input[type="password"],
            input[type="date"] {
                width: 100%;
                padding: 10px;
                margin-bottom: 15px;
                border: 1px solid #ccc;
                border-radius: 3px;
            }
    
            input[type="submit"] {
                width: 100%;
                padding: 10px;
                background-color: #007bff;
                color: #ffffff;
                border: none;
                border-radius: 3px;
                cursor: pointer;
            }
    
            input[type="submit"]:hover {
                background-color: #0056b3;
            }
        </style>

        <center>
            <h1>ADMIN DASHBOARD</h1>
            <div class="container">
                {% with mensajes= get_flashed_messages() %}
                {% if mensajes %}
                    {% for msj in mensajes %}
                        <div class="alert alert-primary alert-dismissible fade show" role="alert">
                            <strong> {{ msj }} </strong> 
                            <button type="button" class="btn-close" data-bs-dismiss="alert" aria-label="Close"></button>
                          </div>
        
                          <script>Swal.fire('Buen Trabajo', 'Registro Realizado',  'success' ) </script>
                          
                    {% endfor %}
                {% endif %}
                {% endwith %}
                <div class="tabla-registro-medicos">
                    <h1>Registro de Pacientes</h1>
                    <form method="POST" action="/guardarpaciente">
                        <label for="rfc">RFC:</label>
                        <input type="text" name="rfctxt" required placeholder="Escribe el RFC del Médico consultor"> <br>
                        
                        <label for="nombre">Nombre:</label>
                        <input type="text" name="nomtxt" required placeholder="Escribe el Nombre del Paciente"><br>
                
                        <label for="apellido">Apellido Paterno:</label>
                        <input type="text" name="aptxt" required placeholder="Escribe el Primer Apellido del Paciente"><br>
                        
                        <label for="apellido">Apellido Materno:</label>
                        <input type="text" name="amtxt" required placeholder="Escribe el Segundo Apellido del Paciente"><br>

                        <label for="Fecha de nacimie">Fecha de Nacimiento:</label>
                        <input type="date" name="datetxt" required placeholder="Selecciona la Fecha de Nacimiento del Paciente"><br>
                
                        <label for="correo">Enfermedades:</label>
                        <input type="text" name="enftext" required placeholder="Escribe alguna enfermedad de tiempo del Paciente"><br>
                
                        <label for="id_rol">Alergias:</label>
                        <input type="text" name="altxt" required placeholder="Escribe alguna alergía del Paciente"><br>
                
                
                        <input type="submit" value="Registrar">
                    </form>
                </div>
            </div>
        </center>
    </body>

<!--    {% endblock %} -->


